
<div fxLayout="row"  class="header">
 <div fxLayout="row" >
  <h3 [routerLink]="'/home'">Countries App</h3>
 </div>

 <div class="content-input">
  <form [formGroup]="form" (ngSubmit)="getCountryByName()">
    <mat-form-field class="example-full-width">
     <mat-label>Search country</mat-label>
     <input name="countryName" formControlName="countryName"  matInput placeholder="Example: Spain" type="text">
   </mat-form-field>
  </form>
 </div>
</div>
<app-isloading [isLoading]="isLoading"></app-isloading>


