
<div fxLayout="row"  class="header">
 <div fxLayout="row" >
 <app-sidebar></app-sidebar>
  <span>Countries App</span>
 </div>

 <div class="content-input">
   <mat-form-field class="example-full-width">
    <mat-label>Search country</mat-label>
    <input matInput placeholder="Example: Spain" type="text">

    <!---
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
    -->
  </mat-form-field>
 </div>
</div>




<!-----
\
<mat-toolbar>
    <app-sidebar></app-sidebar>
  <span>Countries App</span>
  <span class="example-spacer"></span>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Search country</mat-label>
      <input matInput placeholder="Spain">
    </mat-form-field>
  </div>
</mat-toolbar>
-->

